.bg-blue {
  background-color: #007bff !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 255, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(255, 0, 0, 0.075);
}
